.bio {  
  display: flex;

}

.bioImage {

  margin-right: 3em;

  img {
    width: 16em;
    height: auto;
    border-radius: 50%;
  }
}

.bioContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bioContentName {
  font-weight: 900;
  font-size: 52px;
  line-height: 65px;
  color: #19428D;
  margin: 0;
}

.bioContentTagline {
  font-size: 36px;
  line-height: 45px;
  margin-top: .2em;
  margin-bottom: .4em;
}

.bioContentRole {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  margin: 0;
}